:root {
    --primary-color: #5ab1bb;
    --secondary-color: #c8b8db;
    --accent1-color: #464f51;
    --accent2-color: #ff8600;
    --heading-font: "Inter", sans-serif;
    --body-font: "Quicksand", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
    font-family: var(--body-font);
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
    grid-row: 1/2;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

article {
    position: absolute;
    width: 95%;
    padding: 10px;
    text-align: center;
    bottom: 5px;
    color: var(--accent2-color);
    background-color: var(--secondary-color);
    opacity: 0.9;
}

.hero article img {
    float: right;
    width: 125px;
}

header {
    display: grid;
    grid-template-columns: 250px auto;
    align-items: center;
    background-color: var(--secondary-color);
}

header nav {
    display: flex;
    grid-column: 2/3;
    justify-content: space-around;
}

nav a {
    padding: .25rem;
    font-family: var(--heading-font);
    color: #fff;
}

nav a:hover {
    background-color: var(--accent2-color);
    color: #000;
}

.history-section {
    margin: 60px 0;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    gap: 20px;
    align-items: center;
    text-align: justify;
}

.history h2,
.adventures h2 {
    grid-column: 1/-1;
    justify-self: center;
    padding: 1em 0;
}

.history-img {
    grid-column: 2/3;
    grid-row: 2;
}

.history-section p:first-of-type {
    grid-column: 1/2;
    grid-row: 2;
    padding: 0 25px;
}

.history-section p:last-of-type {
    grid-column: 3/4;
    grid-row: 2;
    padding: 0 25px;
}

.history {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    gap: 2em;
    margin: 45px 0;
}

.adventures {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: .5em;
    margin: 30px 0;
}

.adventures figure {
    grid-row: 2/3;
    background-color: var(--primary-color);
    color: var(--accent1-color);
    align-self: center;
}

figcaption {
    justify-self: center;
    padding: 1em 0;
}

footer {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

footer p {
    justify-self: center;
    align-self: center;
}

.socialmedia {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.socialmedia img {
    max-height: 50px;
}

.contact {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.contact h1 {
    grid-column: 1/-1;
    justify-self: center;
    padding: 10px;
    font-size: 4em;
}

.contactus {
    grid-column: 1/2;
}

.map {
    grid-column: 2/3;
    width: 100%;
}

.guides {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.guides h2 {
    grid-column: 1/-1;
    justify-self: center;
    padding: 1em;
}

.guides figure {
    width: 250px;
    justify-content: space-around;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: lightgray;
    border-radius: 1rem;
    padding: 1rem;
    justify-items: center;
    margin-top: 1rem;
}

fieldset {
    display: grid;
    grid-column: 1/3;
    grid-template-columns: 1fr 1fr;
    width: 80%;
}

legend {
    text-align: center;
    color: var(--primary-color);
    font-size: 2em;
    font-weight: 500;
}

.name {
    grid-column: 1/2;
}

.email {
    grid-column: 2/3;
}

.name,
.email {
    text-align: center;
    padding: 1rem;
}

.radio {
    text-align: left;
    grid-column: 1/3;
    padding: 0 2em;
}

textarea {
    width: 80%;
}

.message {
    grid-column: 1/3;
    text-align: center;
    align-self: center;
    padding: 1rem;
}

.newsletter {
    grid-column: 1/3;
    text-align: center;
    padding: .5rem;
}

label {
    font-size: 25px;
}

input[type="radio"],
input[type="checkbox"] {
    width: 20px;
    height: 20px;

}

button {
    background-color: var(--primary-color);
    margin: 1rem auto;
    border: none;
    border-radius: 3rem;
    width: 25%;
    height: 2rem;
    grid-column: 1/3;
}

button:hover {
    background-color: var(--secondary-color);
}

.information {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 200px;
    gap: 1em;
}

.info1 {
    grid-column: 1/2;
}

.info2 {
    grid-column: 2/3;
}

.info1,
.info2 {
    align-content: center;
}

.booking {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.booking h2 {
    text-align: center;
    font-size: 4em;
    grid-column: 1/3;

}

.booking p {
    grid-column: 1/3;
}

.booking button {
    background-color: var(--primary-color);
    margin: 1rem auto;
    border: none;
    border-radius: 3rem;
    width: 25%;
    height: 2rem;
    grid-column: 1/3;
}