* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter, Quicksand, sans-serif;
    font-size: 1.5em;
    color: goldenrod;
    background: black;
}

header {
    margin: 1em;
    width: 80%;
}

h1 {
    margin: 0.75em;
    font-size: 1.5em;
    color: chartreuse;
    text-align: center;
}

form {
    width: 65%;
    margin: 2em auto;
    padding: 1em;
    border: 4px dashed rgb(0 0 0 / 0.5);
    border-radius: 1rem;
    background-color: lightgrey;
    display: grid;
    text-align: right;
}

fieldset {
    display: grid;
    grid-gap: 1rem;
    margin: 1.5rem;
    border: 3px solid rgb(0 0 0 / 0.25);
    padding: 2rem;
}

legend {
    padding: 1rem;
    color: blueviolet;
    font-size: 2em;
}

label {
    text-align: center;
    padding-right: 1.5rem;
}

input,
select,
textarea {
    padding: 1rem;
    font-size: 1.5rem;
}

input[type="checkbox"] {
    width: 30px;
    height: 30px;
    vertical-align: bottom;
}

button {
    margin: 1rem;
    background-color: goldenrod;
    color: black;
    border: none;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 3rem;
}

button:hover {
    background-color: chartreuse;
}

footer {
    margin: 1rem auto 0;
    padding: 0.5em;
    width: 50%;
    text-align: center;
    font-size: 0.5em;
    color: chartreuse;
    border-top: 3px solid #f1F2
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.75rem 0;
}

.column2 {
    grid-template-columns: 1fr 2fr;
}