:root {
    --main-background-color: darkblue;
    --secondary-background-color: royalblue;
    --main-image-width: 200px;
    --main-image-border: 2px solid black;
    --main-border: 4px dotted rgb(0 0 0 / 0.7);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: var(--main-background-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--main-background-color);
}

main img {
    width: var(--main-image-width);
    height: auto;
    border: var(--main-image-border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    padding: 0;
}

main {
    max-width: 800px;
}

aside {
    width: 25em;
    text-align: center;
    position: relative;
}

aside h2 {
    position: absolute;
    top: 25px;
    left: 100px;
    font-size: .75rem;
}

aside img {
    width: var(--main-image-width);
    height: auto;
}

footer {
    margin-top: 5rem;
    border-top: var(--main-border);
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: var(--main-border);
    padding: 1rem;
    background-color: var(--main-background-color);
    color: black;
}