:root {
    --main-background-color: darkblue;
    --secondary-background-color: royalblue;
    --main-image-width: 200px;
    --main-image-border: 2px solid black;
    --main-border: 4px dotted rgb(0 0 0 / 0.7);
}

nav {
    background-color: var(--main-background-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--main-background-color);
}

main img {
    width: var(--main-image-width);
    height: auto;
    border: var(--main-image-border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    max-width: 800px;
}

aside {
    max-width: 25rem;
    margin: 3rem;
    border: var(--main-border);
    padding: 2rem;
    background-color: var(--secondary-background-color);
    color: black;
    text-align: center;
}

aside img {
    width: var(--main-image-width);
    height: auto;
}

footer {
    margin-top: 5rem;
    border-top: var(--main-border);
    text-align: center;
}